<form [formGroup]="form">

  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="custom-mat-input">
        <mat-label>Name</mat-label>
        <input appUppercaseInput formControlName="name" matInput placeholder="Enter heroe name">
        <mat-error *ngIf="isControlHasError('name','required')">
          <strong>Required field</strong>
        </mat-error>
        <mat-error *ngIf="isControlHasError('name','minlength')">
          <strong> The minimum number of characters allowed is: {{ CONSTANTS.MIN_TEXT_LENGTH }}</strong>
        </mat-error>
        <mat-error *ngIf="isControlHasError('name','maxlength')">
          <strong>The maximum number of characters allowed is: {{ CONSTANTS.MAX_TEXT_LENGTH }}</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline" class="custom-mat-input">
        <mat-label>Power</mat-label>
        <input formControlName="power" matInput placeholder="Enter heroe power">
        <mat-error *ngIf="isControlHasError('power','required')">
          <strong>Required field</strong>
        </mat-error>
        <mat-error *ngIf="isControlHasError('name','minlength')">
          <strong> The minimum number of characters allowed is: {{ CONSTANTS.MIN_TEXT_LENGTH }}</strong>
        </mat-error>
        <mat-error *ngIf="isControlHasError('name','maxlength')">
          <strong>The maximum number of characters allowed is: {{ CONSTANTS.MAX_TEXT_LENGTH }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12" style="text-align: right;">
      <button (click)="back()" mat-raised-button style="margin-right: 10px;">Cancel</button>
      <button (click)="emmitData()" color="primary" mat-raised-button>Save</button>
    </div>
  </div>

</form>

